<?xml version="1.0" encoding="utf-8"?>

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add name="SQL" connectionString="server=SC-201708081402;database=perProject;uid=sa;pwd=sa;"/>
  </connectionStrings>
</configuration>
